<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="defd9f">  <td>24/04/24 15:55:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.openTheAmazonWebsite()[pri:0, instance:amzon.base.AmazonTest@59fd97a8]">&gt;&gt;openTheAmazonWebsite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891093184</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>24/04/24 15:56:10</td>   <td>11862</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitTheBrowser()[pri:0, instance:amzon.base.AmazonTest@59fd97a8]">&lt;&lt;quitTheBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@891093184</td>   <td></td> </tr>
<tr bgcolor="83da8e">  <td>24/04/24 15:56:07</td>   <td>8597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyItemListedInCart()[pri:0, instance:amzon.base.AmazonTest@59fd97a8]">verifyItemListedInCart</td> 
  <td>main@891093184</td>   <td></td> </tr>
</table>
