<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a37dbf">  <td>24/04/24 16:13:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.openTheAmazonWebsite()[pri:0, instance:amzon.base.AmazonTest@40ef3420]">&gt;&gt;openTheAmazonWebsite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1008315045</td>   <td></td> </tr>
<tr bgcolor="a37dbf">  <td>24/04/24 16:13:28</td>   <td>18785</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitTheBrowser()[pri:0, instance:amzon.base.AmazonTest@40ef3420]">&lt;&lt;quitTheBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1008315045</td>   <td></td> </tr>
<tr bgcolor="ddaeda">  <td>24/04/24 16:13:20</td>   <td>10982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyItemListedInCart()[pri:0, instance:amzon.base.AmazonTest@40ef3420]">verifyItemListedInCart</td> 
  <td>main@1008315045</td>   <td></td> </tr>
</table>
